@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --aside-background : black;
    --aside-font-color:white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin-top: 50px;
}

body {
  max-width: 1500px;
  min-height: calc(100vh - 50px);
  font-size: 15px;
  margin:auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: blueviolet;
}

header li {
  list-style: none;
}

footer {
  width: 100%;
  text-align: center;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.logo {
  width: 15%;
  height: 2.5rem;
  background-image: url("../assets/images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-menu {
  width: 50%;
}

#main-text-content h1{
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 600;
}