*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('./assets/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}