* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 25px auto 0 auto;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: blueviolet;
}

header li {
  list-style: none;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 15%;
  height: 2.5rem;
  background-image: url("./assets/images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.banner {
  width: 50%;
  height: 400px;
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-menu {
  width: 50%;
}

/* main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */

 /***************************************************************************/
#featured-article{
   /*  display: flex;
    flex-direction: column; */
    width: 60%;
}

#featured-article img{
    object-fit: contain;
    width: 100%;
}

#more-content{
    display: flex;
}

.main-content-wrap {
    display: flex;
}

.article-with-image{
    display: flex;
    flex-direction: row;
}
 /***************************************************************************/

 main{
    position: absolute;
    margin-top: 55px;
 }

 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }